
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Avaliação Proaire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/particles.js"></script>
    <script src="~/Scripts/stats.js"></script>
</head>

<body>
    @RenderBody();
 
</body>
       
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="bg-success">
        <div class="container bg-success">
            @Html.ActionLink("Avaliação Proaire", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year -Avaliação Proaire -  Desenvolvedor</p>
                </footer>
            </div>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            </body>
            </html>*@
